{% extends 'base.html' %} {% block title %}Home{% endblock %} 

{% block content %}
<div class="container mt-5 me-5">
  
  <table class="table table-hover ">
    <thead>
      <h2 class="text-light">Booking List</h2>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Booking ID</th>      
      <th scope="col">Movie</th>      
      <th scope="col">Hall ID</th>
      <th scope="col">Date</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Seats</th>
      <th scope="col">Cancel</th>
    </tr>
  </thead>
  <tbody>
    {% set num = 1 %}
    {% for booking in bookingList %}
    <tr>
      <td>{{ num }}</td>
      <td class="bookingID">{{ booking.id }}</td>
      <td>{{ booking.screening.movieTitle }}</td>
      <td>{{ booking.screening.hall.hallID }}</td>
      <td>{{ booking.screening.date }}</td>
      <td>{{ booking.screening.startTime }}</td>
      <td>{{ booking.screening.endTime }}</td>
      <td>
        {% for seat in booking.bookingseats %}
        {{seat.id}}
        {% endfor %}
      </td>
      <td><button class="btn btn-secondary cancelBookingBtn">Cancel</button></td>
    </tr>
    {% set num = num + 1 %}
    {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %} 
{% block script %}
<script>
  
  const cancelBookingButtons = document.querySelectorAll('.cancelBookingBtn');
  if (cancelBookingButtons.length > 0) {
    
    cancelBookingButtons.forEach(button => {
     
      button.addEventListener('click', (event) => {             
        const bookingID = event.target.parentElement.parentElement.querySelector('.bookingID').textContent;
        
        fetch(`/cancelBooking/${bookingID}`, {
          method: 'POST',
        })
          .then(response => {
            if (response.status === 200) {
              const bookingRow = event.target.parentElement.parentElement;
              bookingRow.remove();
            }
          });
      });
    });
    
    } else{
      console.log('================');
    }
  

</script>
{% endblock %}