{% extends 'base.html' %} {% block title %}CustomerDashboard{% endblock %} {% block content %}

<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-10">
      <form class="d-flex" role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <div class="col-2">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
          {{ user.username }}          
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Update Profile</a></li>
          <li><a class="dropdown-item" href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="moviesListContainer me-5">
  <ul class="moviesList">
    {% for movie in movies %}
    <li
      class="moviesListItem mt-3"
      data-year="{{ movie.releaseDate }}"
      data-country="{{ movie.country }}"
      data-genre="{{ movie.genre }}"
    >
      <div class="container">
        <div class="row">
          <div class="moviesListWrapper col-3">
            <a href="{{ url_for('movieScreening', movieID=movie.id)}}" class="moviesListPoster" }}">
              <img src="{{ movie.imagePath  }}" alt="{{ movie.title }}" />
            </a>
          </div>
          <div class="moviesListCopy col-8">
            <h2 class="moviesListHeading">
              <a href="#" class="moviesListLink movieTitle text-light">{{ movie.title }}</a>
            </h2>
            <p class="text-white-50">
              <span>{{ movie.genre}}</span> <span>{{ movie.duration}}</span> <span>{{ movie.country }}</span>
            </p>
            <p class="text-white-50">{{ movie.description }}</p>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
{% block script %}
 
{% endblock %}