{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content %}

<div class="container">
  <div class="moviesListWrapper">
    <img src="{{ movie.imagePath  }}" alt="{{ movie.title }}" />
  </div>
  <div class="moviesListCopy">
    <h2 class="moviesListHeading text-light">{{ movie.title }}</h2>
    <p class="text-white-50">
      <span>{{ movie.genre}}</span> <span>{{ movie.duration}}</span> <span>{{ movie.country }}</span>
    </p>
    <p class="text-white-50">{{ movie.description }}</p>
  </div>
</div>

<div class="container screening">
  <p class="title text-light">All Screenings</p>
  
  <div class="container ticket">
    <div class="row" id="screenings-list">
      {% for screening in movie_screenings_data %}
      <div class="screening-card text-light col-3">
        <div class="border border-light border-2 rounded-pill">
          <div class=" text-center">
            <p><span>{{screening.date}} </span><span> Hall: {{screening.hall.hallID}}</span></p>
          <p class="screening-time">Time: {{screening.startTime}}-{{screening.endTime}}</p>          
          <a href="{{url_for('cancelScreening', screeningID=screening.id)}}"><button class="btn btn-danger">Cancel</button></a>
        </div>
        </div>
      </div>
      {% endfor %}
  </div>
  </div>
</div>

<script>

  const dateButtons = document.querySelectorAll('.btn-check');

  const movieScreenings = {{ movie_screenings_data | tojson | safe }};
  console.log(movieScreenings);


  dateButtons.forEach(button => {
  button.addEventListener('change', () => {
    // 获取按钮上的日期
    const selectedDate = button.value;

    // 使用日期筛选screenings
    const filteredScreenings = movieScreenings.filter(screening => screening.date === selectedDate);

    // 更新页面上的screenings
    const screeningsList = document.getElementById('screenings-list');
    screeningsList.innerHTML = ''; // 清空原有内容

    if (filteredScreenings.length === 0) {
      screeningsList.innerHTML = '<p>No screenings available for the selected date.</p>';
      return;
    }

    // 遍历筛选后的screenings并显示在页面上
    const screeningsHTML = filteredScreenings.map(screening => `
      <div class="screening-card text-light col-4">
        <a href="/makeBooking?screeningID=${screening.screeningID}&movieID=${screening.movieID}">
          <p class="screening-date">Date: ${screening.date}</p>
          <p class="screening-time">Time: ${screening.startTime}</p>
        </a>
      </div>
    `).join('');

    // 将HTML插入到screeningsList
    screeningsList.innerHTML = screeningsHTML;
  });
});
</script>
{% endblock %}
